* {
  font-family: 'Scada', sans-serif;
}

h2 {
  font-size: 170%;
}

.beer-pic {
  width: 20%;
}

.beer-icon {
  width: 50px;
}

.beer-card {
  align-items: center;
  background-color: #062F4F;
  border-radius: 5px;
  border: 5px solid #FFF;
  color: #B82601;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
  padding: 15px;
  width: 40%;
}

.basic-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  width: 60%;
}

.abv,
.tag-line {
  font-size: 140%;
  margin-top: 5px;
}

.favorite-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.more-details-btn {
  background-color: #813772;
  color: #FFF;
  border-radius: 2px;
  width: 55%;
  text-decoration: none;
  align-self: center;
  font-size: 120%;
  padding: 8px;
  border: 1px solid #FFF;
}

.more-details-btn:hover,
button:hover {
  background-color: #000;
  cursor: pointer;
  font-style: italic;
}

.more-details-btn:active,
button:active {
  transform: scale(.97);
}